body {
    font-family: 'Vazir', sans-serif;
    background-color: #f8f9fa;
    text-align: right; /* راست‌چین کردن متن */
}

h1 {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

#route-result {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 50px;
}

/* واکنشگرا کردن dropdownها */
@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
        margin-bottom: 15px;
    }
}